/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subtitle-color: var(--bg-color);
  --accent-color: #ff0070;
  --background-color: #FF8DCB;
  --button-border: 1px solid rgba(255, 0, 112, 0.4);
  --small-gap: 10px;
  --big-gap: 20px;
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
}
.content__section {
  display: grid;
  gap: var(--big-gap);
  margin-block-start: 30px;
  padding: var(--small-gap);
  line-height: 1.3em;
}